<%- include ("../partials/head.ejs") %>
<main>

  <div id="detailsdiv">
    <% for(var i = 0; i < results.result.length; i++) { %>
    <h2><%= results.result[i].title %></h2>
    <% if(results.result[i].header) { %>
      <h4>Keywords: <%= results.result[i].header %>
      <% } %></h4>
    <img src="<%= results.result[i].hdurl %>" title="<%= results.result[i].title %>">
    <% if(results.result[i].copyright) { %>
    <p>&copy;<%= results.result[i].copyright %></p>
    <% } %>
    <h3><%= results.result[i].date %></h3>
    <p><%= results.result[i].explanation %></p>
    <% if(results.result[i].notes) { %>
    <h2>My Notes</h2>
    <p>
      <%= results.result[i].notes %>
      <% } %></p>
    <% } %>
  </div>
</main>
</body>

</html>