<%- include ("../partials/head.ejs") %>
<title>Edit: <%= title %></title>
</head>

<body>
  <h1>Edit <%= title %></h1>
  <img src="<%= hdurl %>" title="<%= hdurl %>">
  <form action="/edit" method="POST">
    <label for="header">Header:</label><br>
    <input type="text" id="header" name="header" value="<%= header %>"><br><br>
    <label for="notes">Notes:</label><br>
    <input type="text" id="notes" name="notes" value="<%= notes %>"><br><br>
    <input type="hidden" id="id" name="id" value="<%= id %>">
    <input type="submit" value="Save">
  </form>
</body>

</html>