<%- include ("../partials/head.ejs") %>
<main>
  <h2>My Album</h2>
  <form action="/searchalbum" method="POST">
    <label for="keyword">Search By Keyword</label><br>
    <input type="text" name="keyword" id='keyword'>
    <input type="submit" value="Search">
  </form>

  <div id="myalbum">
    <% for(var i = 0; i < results.result.length; i++) { %>
    <ul>
      <li><%= results.result[i].header %></li>
      <li><img class="small" src="<%= results.result[i].hdurl %>" title="<%= results.result[i].title %>"></li>
      <li class="keywords"><%= results.result[i].notes %></li>

      <li class="btns">
        <form class='btn' action="/details" method="POST">
          <input type="hidden" name="id" id="id" value="<%= results.result[i].id %>">
          <input type="submit" value="Details">
        </form>
        <form class='btn' action="/editview" method="POST">
          <input type="hidden" name="title" id="ftitle" value="<%= results.result[i].title %>">
          <input type="hidden" name="hdurl" id="fhdurl" value="<%= results.result[i].hdurl %>">
          <input type="hidden" name="header" id="fheader" value="<%= results.result[i].header %>">
          <input type="hidden" name="notes" id="fnotes" value="<%= results.result[i].notes %>">
          <input type="hidden" name="id" id="id" value="<%= results.result[i].id %>">
          <input type="submit" value="Edit">
        </form>
        <form class='btn' action="/deleteview" method="POST">
          <input type="hidden" name="title" id="ftitle" value="<%= results.result[i].title %>">
          <input type="hidden" name="date" id="fdate" value="<%= results.result[i].date %>">
          <input type="hidden" name="explanation" id="fexplanation" value="<%= results.result[i].explanation %>">
          <input type="hidden" name="copyright" id="fcopyright" value="<%= results.result[i].copyright %>">
          <input type="hidden" name="hdurl" id="fhdurl" value="<%= results.result[i].hdurl %>">
          <input type="hidden" name="header" id="fheader" value="<%= results.result[i].header %>">
          <input type="hidden" name="notes" id="fnotes" value="<%= results.result[i].notes %>">
          <input type="hidden" name="id" id="id" value="<%= results.result[i].id %>">
          <input type="submit" value="Delete">
        </form>
      </li>
    </ul>
    <% } %>
  </div>
</main>
</body>
<script src="/js/ajax.js"></script>

<script src="/js/config.js"></script>

</html>